body {
    font-family: 'Courier New', monospace;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

h1 {
    text-align: center;
    color: #49C6E5;
    font-size: 3em;
    border-radius: 5px;
    margin: 10% 0 10% 0;
    border-left: #49C6E5 solid 3px;
    border-right: #49C6E5 solid 3px;
}

.wrapper {
    max-width: 95%;
    padding: 1%;
    margin: 0 auto;
    background-color: #FFFBFA;
    text-align: center;
}

.input-photo {
    display: none;
}

.input-photo video {
    min-height: 224px;
    width: 100%;
    border-top: solid 15px #49C6E5;
    border-bottom: solid 5px #49C6E5;
    border-radius: 15px;
}

.fas, .far {
    cursor: pointer;
    color: #54DEFD;
}

.fa-circle {
    font-size: 5em;
    margin: 5% auto;
    color: #54DEFD;
}

.input-text {
    margin: 5% auto;
}

.input-text input {
    border: 1px solid #54DEFD;
    font-size:1em;
    padding: 2% 10% 2% 10%;
    width:85%;
    background:#ffffff;
    padding: 2% auto;
    border-radius: 7px;
    outline: none !important;
}

.fa-search {
    font-size: 1.2em;
    float: left;
    position: relative;
    top: 7px;
    left: 10%;
}

.fa-camera {
    font-size: 1.2em;
    float: right;
    position: relative;
    top: 7px;
    right: 11%;
}

.fa-stop-circle {
    font-size: 1.2em;
    float: right;
    position: relative;
    top: 7px;
    right: 11%;
}

#looking-for {
    text-align: left;
    margin: 0 0 3% 8%;
    font-size: 1em;
    font-weight: lighter;
    color: #49C6E5;
}

#results {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    background: #8BD7D2;
    box-shadow: 1px 1px 5px #49C6E5;
    border-radius: 3px;
}

#results img {
    width: 15%;
    margin: 10px;
    vertical-align: middle;
}

footer {
    margin: 7% auto;
    text-align: center;
    color: gray;
}

ul {
    font-size: .9em;
    list-style: none;
    padding: 0;
}

a  {
    color: black;
    text-decoration: none;
}

a:visited  {
    color: black;
    text-decoration: none;
}

/* MEDIA QUERIES */

/* Tablets */

@media screen and (min-width: 768px) {
    .fa-search {
        font-size: 1.5em;
        float: left;
        position: relative;
        top: 14px;
        left: 10%;
    }
    
    .fa-camera {
        font-size: 1.5em;
        float: right;
        position: relative;
        top: 14px;
        right: 10%;
    }

    .fa-stop-circle {
        font-size: 1.5em;
        float: right;
        position: relative;
        top: 14px;
        right: 10%;
    }
}

@media screen and (min-width: 820px) {

    .wrapper {
        width: 50%;
        background: #FFFBFA;
    }

    h1 {
        border: none;
        font-size: 5em;
        margin: 20% 0 0 0;
    }

    footer {
        margin: 3% auto;
    }

    .input-text input {
        font-size:2em;
    }

    .fa-search {
        font-size: 2em;
        float: left;
        position: relative;
        top: 18px;
        left: 10%;
    }
    
    .fa-camera {
        font-size: 2em;
        float: right;
        position: relative;
        top: 18px;
        right: 10%;
    }

    .fa-stop-circle {
        font-size: 2em;
        float: right;
        position: relative;
        top: 14px;
        right: 10%;

}