body {
    font-family: 'Courier New', monospace;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

h1 {
    color: #49C6E5;
    width: 100%;
    font-size: 3em;
    border-radius: 5px;
    margin: 5% 0 3% 0;
}

.wrapper {
    max-width: 95%;
    padding: 1%;
    margin: 0 auto;
    background-color: #FFFBFA;
    text-align: center;
}

.input-photo {
    display: none;
}

.input-photo video {
    min-height: 224px;
    width: 100%;
    border-top: solid 15px #49C6E5;
    border-bottom: solid 5px #49C6E5;
    border-radius: 15px;
}

.fas, .far {
    cursor: pointer;
    color: #54DEFD;
}

.selected {
    color: #54DEFD;
    font-size: 1.3em;
}

.fa-circle {
    font-size: 5em;
    margin: 5% auto;
    color: #54DEFD;
}

.input-text {
    margin: 5% auto;
}

.input-text input {
    border: 1px solid #54DEFD;
    font-size:15px;
    padding: 2% 10% 2% 10%;
    width:85%;
    background:#ffffff;
    padding: 2% auto;
    border-radius: 7px;
    outline: none !important;
}

.fa-search {
 float: left;
 position: relative;
 top: 9px;
 left: 10%;
}


.fa-camera {
    float: right;
    position: relative;
    top: 6px;
    right: 11%;
}

#looking-for {
    text-align: left;
    margin: 0 0 3% 8%;
    font-size: 1em;
    font-weight: lighter;
    color: #49C6E5;
}


#results {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    background: #8BD7D2;
    box-shadow: 1px 1px 5px #49C6E5;
    border-radius: 3px;
}

#results img {
    width: 15%;
    margin: 10px;
    vertical-align: middle;
}